.conteiner {
  width: 1250px;
  margin: 0 auto;
}

.flex-news {

  margin: 15px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-news {
  width: 300px;
}

img {
  width: 280px;
}